{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit accusamus, neque blanditiis nulla doloribus eligendi perspiciatis quia saepe asperiores quam mollitia nemo dolores nihil possimus rerum modi, tempora in.</p>

    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.jpg" class="img-thumbnail"/>

    </div>

</div>


{{> footer }}